{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<div class="auth-wrapper">
  <div class="auth-card">
    <h2 class="auth-title">Welcome Back</h2>
    <form method="POST" class="auth-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="auth-btn">Login</button>
    </form>
    <p class="auth-footer">
      Don’t have an account? <a href="{% url 'signup' %}">Sign Up</a>
    </p>
  </div>
</div>
{% endblock %}
